/* 基础设置  */
.container {
  width: 1190px;
  margin: 0 auto;
}

/* 导航条start */
.topbar {
  height: 30px;
  background-color: #ececec;
}

.welcome {
  height: 30px;
  line-height: 30px;
  font-size: 0;
  color: #666;
}

.welcome span,
.welcome a {
  font-size: 12px;
}

.welcome .hello {
  padding-right: 28px;
}

.welcome .login {
  padding-right: 10px;
  border-right: 1px solid #666;
}

.welcome .register {
  padding-left: 10px;
}

.topbar-nav .list {
  height: 30px;
  line-height: 30px;
}

.topbar-nav .list li {
  float: left;
}

.topbar-nav .list li a {
  padding: 0 15px;
  border-right: 1px solid #666;
}

.topbar-nav .list li:first-child a {
  padding-left: 0;
}

.topbar-nav .list li:last-child a {
  padding-right: 0;
  border: 0;
}
/* 导航条end */

/* 头部start */
.header {
  height: 120px;
  background-color: burlywood;
}

.header .search form {
  margin-top: 42px;
  font-size: 0;
}

.header .search input {
  width: 508px;
  height: 34px;
  border: 1px solid #dd302d;
}

.header .search button {
  width: 80px;
  height: 36px;
  background-color: #dd302d;
  vertical-align: top;
  background-image: url("../images/serch_icon.png");
  background-repeat: no-repeat;
  background-position: 28px 6px;
}
/* 头部end */

/* 主导航start */
.main-nav {
  height: 48px;
  border-bottom: 1px solid #dd302d;
}

.main-nav .all-types {
  height: 48px;
  width: 190px;
  line-height: 48px;
  background-color: #dd302d;
  color: white;
  text-align: center;
  font-size: 16px;
}

.main-nav-list {
  height: 48px;
  line-height: 48px;
}

.main-nav-list li {
  float: left;
  margin: 0 10px;
  font-size: 16px;
}
/* 主导航end */

/* 主要内容区start */
/* 左start */
.main-content {
  margin-top: 10px;
}

.main-content .slide-nav {
  width: 190px;
  height: 458px;
  background-color: #f4f4f4;
  position: relative;
}

.main-content .slide-nav li {
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  padding-left: 16px;
}

.main-content .slide-nav li:hover {
  background-color: #dd302d;
}

.main-content .slide-nav li:hover > a {
  color: white;
}

.main-content .slide-nav li .second-menu {
  width: 680px;
  height: 458px;
  background-color: #f4f4f4;
  position: absolute;
  top: 0;
  left: 190px;
  padding-left: 20px;
  display: none;
}

.main-content .slide-nav li:hover .second-menu {
  display: block;
}

.second-menu dl {
  height: 36px;
  line-height: 36px;
}

.second-menu dl:first-child {
  margin-top: 10px;
}

.second-menu dt {
  float: left;
  width: 70px;
  font-weight: bold;
  margin-right: 10px;
}

.second-menu dd {
  float: left;
}

.second-menu dd a {
  padding: 0 10px;
  border-left: 1px solid #666;
}

/* 左end */

/* 中start */
.main-content .banner {
  width: 690px;
  height: 458px;
  background-color: green;
  margin: 0 10px;
}
/* 中end */

/* 右上start */
.main-content .slide-other {
  width: 290px;
  height: 458px;
  /* background-color: blue; */
}

.slide-other .message {
  width: 260px;
  height: 158px;
  border: 1px solid #d9d9d9;
  padding: 0 14px;
}

.slide-other .message .title {
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #d9d9d9;
}

.slide-other .message .title span {
  font-size: 14px;
  font-weight: bold;
}

.slide-other .message .title a {
  font-size: 12px;
}

.slide-other .message .msg-list li {
  height: 26px;
  line-height: 26px;
}

/* 右上end */

/* 右下start */
.slide-other .other-nav {
  margin-top: 10px;
  width: 290px;
  height: 290px;
  /* background-color: blueviolet; */
  overflow: hidden;
}

.other-nav-list li {
  width: 48px;
  height: 70px;
  /* background-color: darkslategray; */
  float: left;
  margin: 0 11px;
  text-align: center;
}

.other-nav-list li:first-child {
  margin-left: 16px;
}

.other-nav-list:first-child {
  margin-top: 16px;
}

.other-nav-list:nth-child(2) {
  margin: 17px 0;
}

.other-nav-list .picture {
  width: 48px;
  height: 48px;
  background-image: url("../images/精灵图-侧边功能.png");
}

.other-nav-list:nth-child(1) li:nth-child(1) .picture {
  background-position: 0 0;
}

.other-nav-list:nth-child(1) li:nth-child(2) .picture {
  background-position: -48px 0;
}

.other-nav-list:nth-child(1) li:nth-child(3) .picture {
  background-position: -96px 0;
}

.other-nav-list:nth-child(1) li:nth-child(4) .picture {
  background-position: -144px 0;
}

.other-nav-list:nth-child(2) li:nth-child(1) .picture {
  background-position: 0 -48px;
}

.other-nav-list:nth-child(2) li:nth-child(2) .picture {
  background-position: -48px -48px;
}

.other-nav-list:nth-child(2) li:nth-child(3) .picture {
  background-position: -96px -48px;
}

.other-nav-list:nth-child(2) li:nth-child(4) .picture {
  background-position: -144px -48px;
}

.other-nav-list:nth-child(3) li:nth-child(1) .picture {
  background-position: 0 -96px;
}

.other-nav-list:nth-child(3) li:nth-child(2) .picture {
  background-position: -48px -96px;
}

.other-nav-list:nth-child(3) li:nth-child(3) .picture {
  background-position: -96px -96px;
}

.other-nav-list:nth-child(3) li:nth-child(4) .picture {
  background-position: -144px -96px;
}

.other-nav-list li span {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  font-weight: bold;
}
/* 右下end */
/* 主要内容区end */

/* 秒杀start */
.seckill {
  margin-top: 10px;
}
.seckill img {
  float: left;
  margin-right: 11px;
  cursor: pointer;
}
.seckill img:last-child {
  margin-right: 0;
}
/* 秒杀end */
